.main-container {
    height: 80vh;
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px; 
    color: #b8e;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.landing-left {
  font-family: "Quicksand", serif;
}

.main-heading {
    font-size: 5rem;
}
  .typewriter {
    font-size: 3rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #b8e; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 1.0s step-end infinite;
  }

.landing-right {
    position: relative;
    left: 125px;
    width: 300px;
    height: auto;
}
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100%}
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #b8e; }
  }
  .about-text {
    max-width: 600px;
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
    font-family: "Quicksand", serif;
    font-weight: 600;
}
