.main-container {
    background-color: #ffee8c;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: #b8e;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 1rem;
    width: 45%;   
    height: 30.rem;
}
    
    .iframe-wrapper {
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 1rem;
        background: #b3ebf2;
      }
      
      .iframe {
        width: 100%;
        height: 500px;
        border: none;
      }
      
      .image {
        border-radius: 1.5rem;
        max-width: 100%;
        height: auto;
      }
      ;
