.wrapper {
    margin-top: 3rem;
    padding: 0 3rem;
}

.heading {
    font-family: "Quicksand", serif;
    margin-bottom: 1rem;
    color: #b8e;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
}
